.Dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Select{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    color: white;
    background-color: #303030;
    font-size: large;
    cursor:pointer;
}