.codeinput{
    width: 300px;
    height: 40px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    color: white;
    background-color: #303030;
    border-color: transparent;
    font-size: large;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.codelabel{
    margin: 0px;
}

.lobbycode{
    margin: 10px;
    font-size: 50px;
    color: #1DB954;
}

.playerlabel{
    margin: 10px;
}

.playerlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.player{
    margin: 5px;
    border-radius: 15px;
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    margin:0px;
}

.lobbystatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lobbystatustop{
    margin: 0px;
}
.lobbystatusbottom{
    color: gray;
    margin: 0px;
}