.progressbar{
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.questionlabel{
    margin: 20px;
}
.gamelogo{
    
}
.spotifyembed{
    max-width: 500px;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.answers{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.answerbtn{
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor:pointer;
}

.selected {
    background-color: #868686;
}

.votes{
    margin:30px;
    margin-top: 0px;
}
.timer{
    margin:30px;
    margin-top: 0px;
    color: #1DB954;
}
.gamestatus{
    align-items: center;
}

.leaderboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.correctanswertext{
    color: #1DB954;
}
.wronganswertext{
    color: red;
}